h2 {
  color: rgb(103, 125, 106);
  text-transform: uppercase;
}

.education {
  width: 45%;
  max-width: 500px;
}

.education-inputs {
  display: flex;
  flex-direction: column;
}



.education-inputs input {
  width: 100%;
}

