h2 {
  color: rgb(103, 125, 106);
  text-transform: uppercase;
}

.education {
  width: 80%;
  max-width: 400px;
}

.education-inputs {
  display: flex;
  flex-direction: column;
}



.education-inputs input {
  width: 100%;
  padding: 0 0.2em;
  transition: color 200ms ease-in-out;
}

.education-inputs input:not(:focus) {
  color: rgba(0, 0, 0, 0.7);
}

.education-inputs input:focus,
.education-inputs input:hover {
  color: rgba(0, 0, 0);
}

