h2 {
  color: rgb(103, 125, 106);
  text-transform: uppercase;
}

.experience {
  width: 80%;
  max-width: 400px;
}

.experience-inputs {
  display: flex;
  flex-direction: column;
}



.experience-inputs input,
.experience-inputs textarea {
  width: 100%;
  padding: 0 0.2em;
  transition: color 200ms ease-in-out;
}

.experience-inputs textarea {
  height: 10em;
  resize: vertical;
}

.experience-inputs input:not(:focus),
.experience-inputs textarea:not(:focus) {
  color: rgba(0, 0, 0, 0.7);
}

.experience-inputs input:focus,
.experience-inputs input:hover,
.experience-inputs textarea:focus,
.experience-inputs textarea:hover {
  color: rgba(0, 0, 0);
}

.experience-separator {
  width: 100%;
  height: 1px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  background-color: rgb(64, 83, 76);
  width: 100%;
}

.experience-inputs button {
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
  border: 1px solid black;
}

.delete-button {
  margin-bottom: 0.5em;
}

.add-button:hover {
  background-color: rgb(219, 255, 224);
}

.delete-button:hover {
  background-color: rgb(255, 203, 203);
}